@use '../1-base/variables'
@use 'module-mixins'
@use '../2-layouts/layout-mixins'


.section-container__portfolio
    position: relative
    margin: 0 auto
    width: 100%
    padding: 0

    button
        border: none
        background-color: transparent

    .cards-portfolio--wrapper
        overflow-x: auto

        &::-webkit-scrollbar
            display: none

        .cards-portfolio
            display: flex
            flex-flow: row nowrap
            gap: 1.5rem
            padding: 4rem 1.5rem
            @include layout-mixins.desktop
                padding: 4rem

    .portfolio__arrow-left, .portfolio__arrow-right
        position: absolute
        left: 0
        right: auto
        bottom: 0
        top: 0
        font-size: 2rem
        line-right: 25rem
        width: 4rem
        color: variables.$color5Pallet
        cursor: pointer
        border: none
        background: linear-gradient(to left, transparent 0%, variables.$darkGrey 300%)
        opacity: 1
        transition: .4s
        z-index: 2
        display: none

        @include layout-mixins.desktop
            display: block

    .portfolio__arrow-right
        position: absolute
        left: auto
        right: 0
        background: linear-gradient(to right, transparent 0%, variables.$darkGrey 300%)

    .portfolio__arrow-left:hover, .portfolio__arrow-right:hover
        opacity: 1
        transition: .4s

.card
    width: 20rem
    height: 30rem
    flex-shrink: 0
    opacity: .6
    border: 1px solid variables.$color3Pallet
    border-radius: 2rem
    @include layout-mixins.desktop
        opacity: 1

    &:hover
        opacity: 1
        box-shadow: 0 0 1rem variables.$color2Pallet
        @include layout-mixins.desktop
            opacity: 1
   
.current-card
    @include layout-mixins.desktop
        opacity: 1
        box-shadow: 0 0 1rem variables.$color2Pallet

    
   

